<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- iisnode configuration -->
    <handlers>
      <add name="iisnode" path="dist/server-direct.js" verb="*" modules="iisnode" />
    </handlers>
    
    <!-- URL rewrite rules -->
    <rewrite>
      <rules>
        <!-- Redirect all requests to the Node.js entry point -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server-direct.js\/debug[\/]?" />
        </rule>
        <rule name="StaticContent">
          <action type="Rewrite" url="public{{REQUEST_URI}}" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{{REQUEST_FILENAME}}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="dist/server-direct.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- iisnode specific settings -->
    <iisnode 
      nodeProcessCommandLine="%programfiles%\nodejs\node.exe"
      watchedFiles="dist\*.js;web.config"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="true"
      maxLogFileSizeInKB="128"
      maxTotalLogFileSizeInKB="1024"
      maxLogFiles="20"
      devErrorsEnabled="true" 
    />
    
    <!-- Enable WebSocket support -->
    <webSocket enabled="true" />
    
    <!-- Disable directory browsing -->
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
